{% extends "base.html" %} {% block bodycontent %}
<main class="container">
    <div class="">
        <div class="">
            <header class="">
                <h1>Add a new missile</h1>
                <p>This application has a list of missiles owned by different countries. If you know any more, please add.</p>
            </header>
        </div>
        <div class="container">
            <div class="">
                <h3>Create a new missile</h3>
                <form action="/country/{{country_id}}/missiles/new/" method="post" autocomplete="on">
                    <div class="form-group">
                        <label class="form-label" for="name">Missile Name: </label>
                        <input class="form-input" name="name" type="text" id="name">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="description">Description: </label>
                        <textarea class="form-input" name="description" type="text" id="description" autocomplete="name" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="link">Link: </label>
                        <input class="form-input" name="link" type="text" id="link" autocomplete="name">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Missile</button>
                        <a href="/" class="btn btn-link"> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
